.header_phrase {
  font-size: 30px;
  text-align: center;
}

.page-header {
    margin: 10px;
    height: 50px;
    width: 100%;
    position: relative;        
}

.nav_list{
	display: flex;
}

.navigation {
    padding: 12px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.header{
	width: 100%;
	height: 400px;
    margin: 20px; 
    padding: 20px; 
 	background-size:cover;
 	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
}

.search_button{

	width: 100px; 
	height: 50px;
	border: black;
	font-size: 20px;
	display: block;
	cursor: pointer;
	text-decoration: none;
	background-color: #e7e7e7; 
	color: black;
	border-radius: 12px;

}

.form {
	width: 100%;
	height: 410px;
	background-image: url("./background.png");
	background-size: cover;

}

.listItem{
	width: 300px; 
	height: 20px;

}

.project_website {
  
  font-family: Montserrat;
}

.logo_image{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 50%;
	height: 50%;

}
.info {
	width: 100%;
	height: 400px;
    margin: 20px; 
    padding: 20px;
	text-align: center;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
	text-align: center;
}

.list_container {

	width: 50%;
	margin: 0 auto;
	display: block;
}

.subtitle {
	font-weight: bold;
}

.list {
	list-style-position: inside;
	text-align: left;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #8B008B;
  border: none;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}


